@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");

@import "tailwindcss";
body {
  font-family: "Sora", sans-serif;
  @apply bg-[#0f0f0f] text-white;
}

.cl-drawerRoot {
  z-index: 10;
}

.reset-tw,
.reset-tw * {
  all: revert !important;
}
